form{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 420px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9fafb;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(42, 15, 33, 0,08);
}

.form-group{
    display: flex;
    flex-direction: column;
    gap:0.33rem;
    margin-bottom: 1rem;
}

label{
    font-size: 0.9rem;
    font-weight: 700;
    color: #111;
}

input, textarea, select{
padding:0.6rem;
border:1px solid #999;
border-radius: 8px;
font-size: 0.95rem;

}

button[type="submit"]{
width: 40%;
margin: 1rem auto 0 auto;
padding: 0.6rem 0.75rem;
border: none;
border-radius: 8px ;
font-weight: bold;
background-color: green;
color: #fff;
cursor: pointer;
transition: 0.2s ease;

}
button[type="submit"]:hover{

    background-color:pink;

}

button[type="reset"]{
width: 40%;
margin: 0.5rem auto;
padding: 0.6rem 0.75rem;
border: none;
border-radius: 8px ;
font-weight: bold;
background-color: rgb(255, 0, 144);
color: #fff;
cursor: pointer;
transition: 0.2s ease;

}
button[type="reset"]:hover{

    background-color:pink;

}

input:focus, textarea:focus, select:focus{
    outline: none;
    border-color: rgb(0, 140, 255);
    box-shadow: 0 0 0 3px rgba(161, 231, 252, 0.5);

}
